body {
	font-family: "Roboto", sans-serif;
}

a {
	color: black;
}

.headbg {
	background-color: #122A88;
	color: #C8C8C8;
	font-size: 14px;
	font-weight: 600;
}

.headmail {
	color: #C8C8C8;
	font-weight: 600;
}

.nav-link {
	font-size: 14px;
	color: #4f4f4f;
	font-weight: 600;
}

.nav-pad {
	padding-left: 3rem;
}

.navbar-expand-lg .navbar-nav .nav-link {
	padding-right: 1rem;
	padding-left: 1rem;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
	color: #122A88;
}

.dropdown-toggle::after {
	display: none;
}

.dropdown-item {
	font-size: 13px;
	color: #0c1b59;
	padding: 5px 0px;
	font-weight: 500;
}

.dropdown-item:hover {
	font-weight: 600 !important;
	color: #0c1b59;
}

.show .dropdown-toggle {
	background-color: #e2e7fe;
	border-top: 4px solid #122a88;
}

.dropdown-menu {
	min-width: 35rem;
	padding: 15px;
	box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.26);
	border: 0px solid #fff;
	margin: 0rem;
	background-color: #e2e7fe;
}

p {
	font-size: 14px;
	color: #4f4f4f;
}

.banner {
	background-image: url("../images/bannerimg.png");
	background-repeat: no-repeat;
	background-size: 100%;
	margin-top: 10rem;
	-webkit-background-size: cover;
}

/* inner banner */
.innerbanner {
	background-image: url("../images/innerbanner.png");
	background-repeat: no-repeat;
	background-size: 100%;
	margin-top: 10rem;
	-webkit-background-size: cover;
}

.innerbanner h2 {
	color: #fff;
}

.innerbanner small {
	font-size: 14px;
	font-weight: 600;
	color: #fff;
}

.yellow {
	color: #F2C057;
}

.bannertext {
	color: #122A88;
	font-size: 30px;
}

.bannertext .bold {
	font-weight: bold;
}

.bannertext .light {
	font-weight: 100 !important;
}

.btn {
	box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.39);
	border-radius: 8px;
	font-size: 14px;
}

label {
	font-size: 14px;
}

.btn-yellow {
	background: linear-gradient(to bottom, #FFCF69, #F8B62B);
	color: #122A88;
	box-shadow: 2px 2px 4px 0px rgb(0 0 0 / 16%);
}

.btn-signyellow {
	background: linear-gradient(to bottom, #FFEEA2, #D7BB38);
	color: #333;
}

.btn-signnavy {
	background: linear-gradient(to bottom, #3A52B2, #122A88);
	color: #F2F2F2;
}

.btn-signnavy:hover {
	color: #C2F6FF;
}

.btn-navy {
	background: linear-gradient(to bottom, #3A52B2, #122A88);
	color: #C2F6FF;
	box-shadow: 2px 2px 4px 0px rgb(0 0 0 / 16%);
}

.btn-navy:hover {
	color: #FFF;
	text-decoration: none;
}

.btn-navy-banner {
	background: linear-gradient(to bottom, #4aaecc, #3a8dc8);
	color: #C2F6FF;
	box-shadow: 2px 2px 4px 0px rgb(0 0 0 / 16%);
}

.h3 {
	font-size: 25px;
}

.about p {
	font-size: 14px;
	color: #2B2B2B;
	font-weight: 300;
}

.bgyellow {
	background-color: #FFDE6D;
}

.productbod {
	border-right: 1px solid #BDBDBD;
}

.product-text {
	color: #4f4f4f;
	font-size: 18px;
}

.service-textbottom {
	box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.12);
	border: 0px solid #fff;
	padding: 2rem 2.5rem;
	height: 160px;
}

.service-bod img {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.padd-story {
	padding-left: 3rem;
}

.sectionpoints {
	line-height: 30px;
	font-size: 14px;
	font-weight: 300;
	color: #4f4f4f;
	text-indent: -21px;
	margin-left: 6px;
}

.hrpad {
	padding-left: 4.9rem;
	padding-right: 4.9rem;
}

.tryforfree {
	background-image: url("../images/tryfreebg.png");
	background-repeat: no-repeat;
	background-size: 100%;
	-webkit-background-size: cover;
}

.trytext {
	color: #fff;
}

.trytext .bold {
	font-weight: bold;
}

.trytext .light {
	font-weight: 100 !important;
}

li {
	list-style: none;
	font-size: 14px;
	color: #3A559F;
	line-height: 23px;
}

li a {
	color: #3A559F;
}

.headmail:hover {
	color: #C2F6FF;
}

a:hover {
	text-decoration: none;
}

ul {
	padding: 0px;
}

.footer-bg {
	background-color: #f4f4f4;
}

.footbg {
	background-color: #061a32;
}

.foot-text {
	color: #A6A6A6;
	font-weight: 500;
	font-size: 14px;
}

.carousel-control-prev-icon {
	background-image: url("../images/left.png") !important;
}

.carousel-control-next-icon {
	background-image: url("../images/right.png") !important;
}

.carousel-control-next,
.carousel-control-prev {
	width: 7%;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
	width: 30px;
	height: 50px;
}

.slider-margin {
	margin-left: 6rem;
	margin-right: 6rem;
}

.slider-margin h6 {
	color: #4f4f4f;
}

.black {
	color: #4f4f4f;
}

.minisize {
	border: 1px solid #EBEBEB;
	box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.11);
	border-radius: 5px;
	background-color: #FAFAFA;
	height: 100%;
}

.voilet {
	color: #122A88;
	font-size: 14px;
}

.freetop {
	border-top: 8px solid #122A88;
}

.pointer {
	cursor: pointer;
}

.banner-img {
	box-shadow: 10px 10px 50px 10px rgb(0 0 0 / 16%);
	border-radius: 10px;
}

/* Chat box styles starts */
.chat-popup {
	display: none;
}

.chat-header {
	background-color: rgb(40 64 159 / 1);
	color: #f2f2f2;
	box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.26);
}

.chat-body {
	background-color: #fff;
	color: #bdbdbd;
	box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.26);
}

.chat-body p {
	background-color: #F4F4F4;
	padding: 10px;
	border-radius: 5px;
}

.chat-footer {
	background-color: #EDEDED;
}

.chat-footer input {
	border-radius: 5px;
	background-color: #fff;
	box-shadow: 0px 2px 4px 2px rgb(0 0 0 / 14%);
	border: 1px solid #828282;
}

.chat-footer input::placeholder {
	font-size: 12px;
}

input::placeholder {
	font-size: 14px;
}

textarea::placeholder {
	font-size: 14px;
}

textarea {
	resize: none;
}

/* chart box css ends */

.not-allow {
	cursor: not-allowed !important;
}

/* Scroll top Button starts*/
#scroll {
	display: inline-block;
	background-color: #C8C8C8;
	width: 35px;
	height: 35px;
	text-align: center;
	position: fixed;
	bottom: 75px;
	right: 25px;
	transition: background-color .3s, opacity .5s, visibility .5s;
	opacity: 0;
	visibility: hidden;
	z-index: 1000;
}

#scroll::after {
	border-style: ridge;
	border-color: #808080;
	border-width: 0.1em 0.1em 0 0;
	content: '';
	display: inline-block;
	height: 1em;
	position: relative;
	top: 0.8em;
	transform: rotate(-45deg);
	width: 1em;
}

#scroll:hover {
	cursor: pointer;
}

#scroll:active {
	background-color: #555;
}

#scroll.show {
	opacity: 1;
	visibility: visible;
}

/* Scroll top Button ends*/

.chart-align {
	text-align: right;
}

.form-control {
	height: 40px;
	font-size: 14px;
	color: #787878;
}


#custom-select select {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	position: relative;
}

#custom-select::after {
	content: "\276E";
	transform: rotate(-90deg);
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px 35px;
	line-height: 22px;
	color: #828282 !important;
	pointer-events: none;
}

.bg-navy {
	background-color: #122A88;
}

.white {
	color: #fff;
}

.bg-navy h2 {
	font-size: 30px;
}

.sign-free {
	border: 1px solid #BDBDBD;
	border-radius: 10px;
}

.navy {
	color: #122A88;
}